{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "insert_final_newline": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "jsxBracketSameLine": true
}